<div id='pin_form'>
  <%=  form_for(@pin) do |f| %>
    <% if @pin.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@pin.errors.count, "error") %> prohibited this gem from being saved:</h2>

        <ul>
        <% @pin.errors.full_messages.each do |message| %>
          <li class="error-li"><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <%= f.hidden_field :lat %>
    <%= f.hidden_field :lng%>

    <div class="field">
      <%= f.label :name, 'What is this gem called?' %>
      <%= f.text_area :name %>
    </div>

    <div class="field">
      <%= f.label :appeal, 'What do you love about this gem?' %>
      <%= f.text_area :appeal %>
    </div>

    <div class="field">
      <%= f.label :website, 'Website URL' %>
      <%= f.text_field :website %>
    </div>


    <div class="field">
    <%= f.label :image, 'Upload an image', capture: 'camera' %><br>
    <%= f.file_field :image %>
    <% if f.object.image? %>
      <%= image_tag f.object.image.thumb.url %>
      <%= f.label :remove_image %>
      <%= f.check_box :remove_image %>
    <% end %>
  </div>

    <div class="field">
      <%= f.label :photo_url, 'Or submit a link to a public photo of this gem' %>
      <%= f.text_field :photo_url %>
    </div>

    <div class="actions">
      <%= f.hidden_field :user_id, :value => current_user.id %>
      <%= f.submit 'Save' %>
    </div>
  <% end %>
</div>
