<section class="popup-new-pin-form">
  <%= form_for @pin, url: {action: "create", :controller=>"pins"} do |f| %>
    <%= f.hidden_field :lat %>
    <%= f.hidden_field :lng%>
    <div class="field">
      <%= f.label :name, 'What is this gem called?' %>
      <%= f.text_area :name %>
    </div>
    <div class="field">
      <%= f.label :appeal, 'What do you love about this gem?' %>
      <%= f.text_area :appeal %>
    </div>
    <div class="field">
      <%= f.label :website, 'Website URL' %>
      <%= f.text_field :website %>
    </div>
    <div class="field" id="photo_upload">
      <%= f.label :image, 'Take or Upload a Picture' %>
    <div class="field">
      <%= f.label :image %><br>
      <%= f.file_field :image %>
    </div>
      <!-- <input class="photo-submit" name="Take or Upload a Picture!" type="file" accept="image/*" capture="camera"> -->
    <div class="field">
      <%= f.label :photo_url, 'Or submit a link to a public photo of this gem' %>
      <%= f.text_field :photo_url %>
    </div>
    <br>
    <div class="submit-actions">
      <%= f.hidden_field :user_id, :value => current_user.id %>
      <%= f.submit 'Save', class: "btn btn-success" %>
      <%= f.button 'Cancel', :type => 'button', id: 'new_pin_cancel', class: "btn btn-warning" %>
    </div>
  <% end %>
  </div>
</section>
