<div id="explore">
  <h2>Explore</h2>
  <em>What do you want to experience today?</em>

  <%= search_form_for @q do |f| %>
    <%= f.collection_select(:pintags_tag_id_eq, Tag.all, :id, :label, prompt: 'tags', include_blank: 'All') %>
    <%= f.label :name_cont, "Gem Name Contains" %>
    <%= f.search_field :name_cont, placeholder: "show all" %>
    <%= f.label :appeal_cont, "Description Keyword" %>
    <%= f.search_field :appeal_cont, placeholder: "show all" %>
    <%= f.label :user_first_name_cont, "Gem Author's First Name" %>
    <%= f.search_field :user_first_name_cont, placeholder: "show all" %>
    <%= f.label :user_last_name_cont, "Gem Author's Last Name" %>
    <%= f.search_field :user_last_name_cont, placeholder: "show all" %>
    <div id="filter-submit">
      <%= f.submit %>
    </div>
  <% end %>
 </div> 