
<div id="gem-show-page">
    <style>
      .cover-photo {
        <% if @pin.image %>
        background-image: url("<%= @pin.image %>");
        <% elsif @pin.photo_url %>
        background-image: url("<%= @pin.photo_url %>");
        <% else %>
        background-image: image-url('seattle.jpg');
        <% end %>
        background-height: 100%;
        background-position: center top;
      }
    </style>

    <div class='cover-photo'>
      <div class="in-cover">
        <h1 id='cover-title'><%= @pin.name %></h1>
        <h2 id='cover-sub'><%= @pin.appeal %></h2>
      </div>
    </div>

  <% unless current_user == !@pin.user %>
    <%= link_to 'Edit Gem Profile & Upload/Change Photo', edit_pin_path(@pin), class: 'edit-link' %>
  <% end %>

  <div id="gem-show-container" >
    <p>Added by: <%= "#{@pin.user.first_name} #{@pin.user.last_name}" %></p>
    <% unless @pin.website.blank? %>
      <p>Website:
        <a id="gem-website" href="<%= @pin.website %>"><%= @pin.website %></a>
      </p>

    <% end %>

    <% if @pin.comments %>

    <div id="tags-container">
      <% if @pin.pintags %>
        <p>People say this gem is:</p>
        <p><%=Pin.tags_to_s(@pin)%></p>
      <% end %>
    </div>

    <% unless !@pin.image || !@pin.photo_url %>
      <div id='image-container'>
        <% if !@pin.image.blank? %>
          <%= image_tag(@pin.image, width: '100%', id: 'gem-image' )%>
        <% elsif !@pin.photo_url.blank? %>
          <%= image_tag(@pin.photo_url, width: '100%', id: 'gem-image' )%>
          <p id="photo-attribution">Source: <%= @pin.photo_url %></p>
        <% end %>
      </div>
    <% end %>

    <div id="comments-container">
  <% unless @pin.comments.blank?%>
    <p>Comments:</p>
      <% @pin.comments.reverse_each do |comment| %>
      <div id="comment-start">
        <p>
          <b>Commenter:</b>
          <%= comment.user.first_name %>

        </p>
        <div id='comment-field'>
        <p>
          <b>Comment:</b>
            <span id="comment-<%= comment.id %>">
          <%= comment.content %>
            </span>
        </p>
      </div>
      <div id='comment-link-field'>
        <%= link_to 'Edit This Comment', edit_pin_comment_path(@pin, comment), id: 'edit'%> |
        <%= link_to 'Delete Comment', pin_comment_path(@pin, comment), method: "DELETE", id: 'delete', remote:true %>
      </div>
  </div>
      <% end %>
    <% end %>
  <% end %>

    <div class="model-link-container" id="gem-show-link-container">
      <%= link_to 'Add a Comment', new_pin_comment_path(@pin), remote: true, id: "new-comment-link" %> <br/>
      <% unless current_user != @pin.user %>
        <%= link_to 'Delete Gem', pin_path(@pin), method: "DELETE", id: "delete-gem-link" %>
      <% end %>
    </div>
    </div>
  </div>
</div>
