
<div id="gem-show-container"
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Creator:</strong>
    <%= @pin.user.first_name %>
  </p>

  <p>
    <strong>Appeal:</strong>
    <%= @pin.appeal %>
  </p>

  <div class="gem-show-img">
    <img class="gem-img" src="<%= @pin.photo_url %>" width="500">
  <div>

  <p>
    <strong>Website:</strong>
    <a href="<%= @pin.website %>"><%= @pin.website %></a>
  </p>

<div id="tags-container">
  <% if @pin.pin_tags %>
    <h2 class="gem-show-subheader">People say this gem is:</h2>
    <p><%=Pin.tags(@pin)%></p>
  <% end %>

  <%= render partial: 'pintags/form', locals: {pin: @pin, pintag: PinTag.new} %>

</div>

  <% if @pin.comments %>
  <h2 class="gem-show-subheader">Comments:</h2>
    <% @pin.comments.each do |comment| %>
      <p>
        <b>Commenter:</b>
        <%= comment.user.first_name %>
      </p>

      <p>
        <b>Comment:</b>
        <%= comment.content %>
      </p>

      <%= link_to 'Edit This Comment', edit_pin_comment_path(@pin, comment) %> |
      <%= link_to 'Delete Comment', pin_comment_path(@pin, comment), method: "DELETE" %>
    <% end %>
<% end %>

  <div class="model-link-container" id="gem-show-link-container">

    <%= link_to 'Edit This Gem', edit_pin_path(@pin) %> |
    <%= link_to 'Delete Gem', pin_path(@pin), method: "DELETE" %> |
    <%= link_to 'Back', pins_path %>
  </div>
</div>
