<p id="notice"><%= notice %></p>

<p>
  <strong>Creator:</strong>
  <%= @pin.creator_id %>
</p>

<p>
  <strong>Appeal:</strong>
  <%= @pin.appeal %>
</p>

<div class="gem-show-img">
  <img class="gem-img" src="<%= @pin.photo_url %>">
<div>

<p>
  <strong>Website:</strong>
  <%= @pin.website %>
</p>

<%= link_to 'Edit This Gem', edit_pin_path(@pin) %> |
<%= link_to 'Back', pins_path %>
