<p id="notice"><%= notice %></p>

<div id="gem-show-container">
  <p>Name: <%= @pin.name %></p>
  <p>Appeal: <%= @pin.appeal %></p>

<% if @pin.image %>
  <style>
    .cover-photo {
      /* The image used */
      background-image: url("<%= @pin.image %>");
      background-size: 2000px;
      background-position: center 100px;
    }
  </style>


  <div class='cover-photo'>
    <div class="in-cover">
      <h1 id='cover-title'><%= @pin.name %></h1>
      <h2 id='cover-sub'><%= @pin.appeal %></h2>
    </div>
  </div>

<% else %>
  <p class="in-cover">Name: <%= @pin.name %></p>
  <p class="in-cover">What's to love about it: <%= @pin.appeal %></p>
<% end %>

<% unless current_user == !@pin.user %>
  <%= link_to 'Edit Gem Profile & Upload/Change Photo', edit_pin_path(@pin), class: 'edit-link' %>
<% end %>

<div id="gem-show-container" >
  <p>Added by: <%= "#{@pin.user.first_name} #{@pin.user.last_name}" %></p>
  <% unless @pin.website.blank? %>
  <p>Website:
    <a href="<%= @pin.website %>"><%= @pin.website %></a>
  </p>
  <% end %>
  <%#= render partial: 'pintags/form', locals: {pin: @pin, pintag: Pintag.new} %>
</div>
<div id="comments-container">
  <% if @pin.comments %>
  <div id="tags-container">
    <% if @pin.pintags %>
      <p>People say this gem is:</p>
      <p><%=Pin.tags_to_s(@pin)%></p>
    <% end %>
    <%#= render partial: 'pintags/form', locals: {pin: @pin, pintag: Pintag.new} %>
  </div>

  <div id='image-container'>
    <%= image_tag(@pin.image, width: '100%', id: 'gem-image' )%>
  </div>

  <% unless @pin.comments.blank?%>
  <p>Comments:</p>
    <% @pin.comments.each do |comment| %>
    <div id="comment-start">
      <p>
        <b>Commenter:</b>
        <%= comment.user.first_name %>

      </p>
      <div id='comment-field'>
      <p>
        <b>Comment:</b>
          <span  id="comment-<%= comment.id %>">
        <%= comment.content %>
      </span>
      </p>
    </div>
    <div id='comment-link-field'>
      <%= link_to 'Edit This Comment', edit_pin_comment_path(@pin, comment) %> |
      <%= link_to 'Delete Comment', pin_comment_path(@pin, comment), method: "DELETE" %>
    </div>
  </div>

    <% end %>
  <% end %>

  <div class="model-link-container" id="gem-show-link-container">
    <%= link_to 'Add a Comment', new_pin_comment_path(@pin), remote: true, id: "new-comment-link" %> |
    <%= link_to 'Delete Gem', pin_path(@pin), method: "DELETE" %> |
    <%= link_to 'Back', pins_path %>
  </div>
</div>
</div>
