<div class="filter-tags-container">
  <%= form_for(@tag) do |f| %>
    <%= label_tag(:label "Natural") %>
    <%= check_box_tag(:label) %>
    <%= label_tag(:label "Historical") %>
    <%= check_box_tag(:label) %>
    <%= label_tag(:label "Artistic") %>
    <%= check_box_tag(:label) %>
    <%= label_tag(:label "Quirky") %>
    <%= check_box_tag(:label) %>
    <%= label_tag(:label "Beautiful") %>
    <%= check_box_tag(:label) %>
    <%= label_tag(:label "Cultural") %>
    <%= check_box_tag(:label) %>
  <% end %>
</div>
