<div id="menu-div">
  <ul id="menu-list">
    <% if current_user %>
      <li> Signed in as <%= link_to current_user.first_name, users_path, class: "menu-link"%> </li>
      <li> <%= link_to "Sign out", signout_path, class: "menu-link", id: "menu-signin" %> </li>
    <% end %>

    <li>Filter</li>
    <%= render 'search_form' %>
    <li> <%= link_to "About", about_path %> </li>
    <% if !current_user %>
      <li> <%= link_to "Sign in with Google", "/auth/google_oauth2", class: "menu-link", id: "menu-signout" %> </li>
    <% end %>
  </ul>

</div>
