<!DOCTYPE html>
<html>
  <head>
    <title>CityGems</title>
    <%= csrf_meta_tags %>
    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"></script>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= stylesheet_link_tag    'normalize', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.32.1/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.32.1/mapbox-gl.css' rel='stylesheet' />
    <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v2.0.1/mapbox-gl-geocoder.js'></script>
    <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v2.0.1/mapbox-gl-geocoder.css' type='text/css' />
    <link rel="icon" href="/favicon.ico?v=2" type="image/x-icon" />
  </head>

  <body>
    <%= render partial: "layouts/navbar" %>
    <%= render partial: "layouts/notice" %>
    <div id="load"></div>
    <div id="page-contents">
      <%= yield %>
    </div>
    <%= render partial: 'layouts/menu' %>
    <%= render partial: 'layouts/footer-icons' %>
  </body>
</html>
